body {
    font-family: "Inter" Arial, Helvetica, sans-serif ;
    margin: 0;
}

.head-container {
    background-color: #1f2937;
    padding: 10px 300px 120px;

}
.header {
    display: flex;
 /*    margin: 0px 160px; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;

}
.header-list {
     display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 36px; */
    margin-top: 6px;
    padding: 0;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.main {
    display: flex;
   /*  margin: 40px 160px; */
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
 
 }
 
.center_container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}
/* .subtext {
    display: flex;
    margin-top: 6px;
 } */

 ol { 
    display: flex;
    justify-content: flex-end;
    padding: 0;
    /* min-width: 300px; */
    margin-left: 300px;
 }

ol > li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px 16px;
 }

 a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    gap: 10px;
    
 }
/*  ol {
    display: flex;
    justify-content: space-between;
 }
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    margin-top: 6px;
    padding: 0;

}
 ol > li {
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    gap: 9px;
   
    
}
ul > li {
    font-size: 18px;
    color: #4f5b6c;
    text-decoration: none;
    list-style-type: none;
    width: 145px;
    
}
a {
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 16px;
} */

.left-container {
    display: flex;
    flex-direction: column;
   /*  min-width: 150px; */
    height: 260px;
    justify-content: flex-start;
    align-self: stretch;
    padding: 0px;
    margin: 0px;
     
}
.right-container {
    display: flex;
    /* padding-top: 60px;
    padding-bottom: 60px; */

}
.hero-img {
    width: 600px;
    height: 255px;
    border: none;
    /* margin-right: 100px; */
    flex-grow: 0;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
    max-width: 350px;
    padding: 0px;
    
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
    width: 400px;
    padding-bottom: 2px;
    
}
.button {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    max-width: 120px;
    border: none;
    padding: 8px 20px;
    margin-top: 8px;
}

.center {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;   
   
}

img {
        border: 3px solid #3882f6;
        width: 180px;
        height: 180px;
        border-radius: 10px;
}


 .image-containers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    margin-top: 20px;
  
   
 }

 h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
 }




.floor {
 background-color: #e5e7eb;
}
blockquote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    
}
h3 {
    color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
}
.sub-floor {

}

.sub-floor-container {
    background-color: #3882f6;
    color: #e5e7eb;

}

.bottom-button {
    border-width: 2px;
    border-color: #e5e7eb;
}

.footer {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
}